# Ignored
*/
Xauthority
pavucontrol.ini
mimeapps.list
QtProject.conf
xbindkeysrc
picom.conf
# Rofi config
!rofi/
# Vifm config
!vifm/
!vifm/*
vifm/vifminfo.json
# Qtile config
!qtile/
!qtile/*/
# Openbox config
!openbox/*
!openbox/*/
# Zsh config
!zsh/*
!zsh/*/
zsh/oh-my-zsh
nvim/theme.vim
./nvim/.netrwhist
**/__pycache__
qtile/settings.json
