# Ignored
*/
*
pavucontrol.ini
mimeapps.list
QtProject.conf
xbindkeysrc
# Alacritty config
!alacritty/
!alacritty/*
# Fish config
!fish/
!fish/*/
# Rofi config
!rofi/
# Vifm config
!vifm/
!vifm/*
vifm/vifminfo.json
# Qtile config
!qtile/
!qtile/*
**/__pycache__
qtile/settings.json
