# Ignored
*/
picom.conf
pavucontrol.ini
mimeapps.list
QtProject.conf
xbindkeysrc
# Fish config
!fish/**
# Rofi config
!rofi/**
# Vifm config
!vifm/**
vifm/vifminfo.json
# Qtile config
!qtile/**
**/__pycache__
qtile/settings.json
